div{
    background: #202020e1;
    color: #ccc;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
a{
    padding: 5px;
}
.redes{
    display: contents;
}
img{
    width: 50px;
}
    
.logoAP{
        width:150px;
}
