<div class="row">
    <div class="container">
        <div class="logo">
        <!--logo Argentina programa-->
            <img class=logoAP src="../../../assets/logoAP.png" alt="">
        </div>
        <div class="redes">
        <!-- Logos y links de redes sociales-->
            <a href="https://www.instagram.com/package.binaries/?next=%2F">  <img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/Avellaneda810">  <img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-ligth">Iniciar sesión</button>
        </div>
    </div>
    <app-banner></app-banner>
</div>



