<div class="row">
    <h5>Formación Académica</h5>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li *ngFor="let educacion of educacionList">
                <div class="data-container">
                        <div class="list-info">
                            <div>
                                <h6>{{educacion.school}}</h6>
                                <h6>{{educacion.carrer}}</h6>
                                <h6>{{educacion.mode}}</h6> 
                                <h6><time>{{educacion.start}} </time> - <time>{{educacion.end}} </time></h6>
                                <h6>{{educacion.duracion}}</h6>
                            </div>
                        </div>
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="" class="btn-right"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
