<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfiFoto.webp" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h6 id="nombre">{{miPortafolio.name}}</h6>
        <h6 id="titulo">{{miPortafolio.position}}</h6>
        <h6 id="ciudad">{{miPortafolio.ubication}}</h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h5>Acerca de mi</h5>
            <h6>{{miPortafolio.about}}</h6>
            <h6>{{miPortafolio.school.name}}</h6>
    </div>
</div>
