div{
    background-color: #202020e1;
    text-align: center;
}
h6{
    margin-top: 10px;
    margin-left: 10px;
}
h5{
    margin-top: 10px;
}
.row{
    color: #ccc;
}
@media(min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 15%;
        height: 30%;
        left: 2%;
        top: 500px;
        border-color: #202020e1;
        border-style: groove;
    }
    @media (min-width: 847px){
        #fotoPerfil{
            position: absolute;
            width: 15%;
            height: 30%;
            left: 2%;
            top: 435px;
            border-color: #202020e1;
            border-style: groove;
        }
    }
}