<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h5>Proyectos</h5>
        <ul>
            <li *ngFor="let proyecto of proyectosList">
                <div class="data-container">
                        <div class="list-info">
                            <div>
                                <h6>{{proyecto.name}}</h6>
                                <h6>{{proyecto.company}}</h6>
                                <h6>{{proyecto.descripcion}}</h6> 
                                <h6><time>{{proyecto.start}}</time> - <time>{{proyecto.end}}</time></h6>
                                <h6>{{proyecto.duracion}}</h6> 
                            </div>
                        </div>
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="" class="btn-right"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
